version: 2
updates:
- package-ecosystem: npm
  directories:
    - "**/*"
  schedule:
    interval: daily
    time: "10:00"
  open-pull-requests-limit: 20
  commit-message:
    prefix: "deps"
    prefix-development: "chore"
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"
  commit-message:
    prefix: chore
