build
dist
.docs
.coverage
node_modules
package-lock.json
yarn.lock
.tmp-compiled-docs
tsconfig-doc-check.aegir.json

# IDE
.DS_Store
.vscode
packages/transport-webtransport/go-libp2p-webtransport-server/main
